<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>220493221545-a101ks0t0e8j3846bhhrsgv5tp1493o7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.220493221545-a101ks0t0e8j3846bhhrsgv5tp1493o7</string>
	<key>API_KEY</key>
	<string>AIzaSyA-wRb448XWMl6KTy5Q8x8b8Ba20lUqBDc</string>
	<key>GCM_SENDER_ID</key>
	<string>220493221545</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>udea.edu.co.mobileapp</string>
	<key>PROJECT_ID</key>
	<string>mobileapp-misiontic-c4</string>
	<key>STORAGE_BUCKET</key>
	<string>mobileapp-misiontic-c4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:220493221545:ios:45af97a4c5a5e48ec7a3b8</string>
</dict>
</plist>